@{
    var user = Context.Session.GetString("User");
    SessionUser sessionUser = new SessionUser();

    if (user != null)
    {
        sessionUser = JsonConvert.DeserializeObject<SessionUser>(user);
    }

    string path = "";
    if (sessionUser.UserType == UserTypeEnum.Customer.ToString())
    {
        path = "Dashboard";
    }
    else if(sessionUser.UserType == UserTypeEnum.ServiceProvider.ToString())
    {
        path = "NewServiceRequests";
    }
    else if (sessionUser.UserType == UserTypeEnum.Admin.ToString())
    {
        path = "ServiceRequests";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Helperland</title>
    <link rel="icon" type="image/x-icon" href="~/img/logo/favicon_img.png">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <link href="~/lib/limonte-sweetalert2/sweetalert2.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-star-rating/css/star-rating.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-star-rating/themes/krajee-svg/theme.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/Index.css" rel="stylesheet" />
    <link href="~/css/ContactUS.css" rel="stylesheet" />
    <link href="~/css/Dashboard.css" rel="stylesheet" />
    <link href="~/css/ServiceProvider.css" rel="stylesheet" />
</head>
<body>
    <div class="scroll-up-btn top-arrow">
        <i class="fas fa-chevron-up"></i>
    </div>

    <div class="scroll-up-btn message-box">
        <img src="~/img/layer-598.png" alt="message" class="img-fluid">
    </div>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-xl navbar-light @( ViewBag.navbar == "transparentNavbar" ? "transparentNavbar" : "navbar-bg-color")">
        <div class="container-fluid">
            <a class="navbar-brand me-auto" asp-controller="Home" asp-action="Index">
                <img src="~/img/logo/white-logo-transparent-background.png" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                @if (user != null)
                {
    <ul class="navbar-nav d-xl-none">
        <li class="nav-item user-name">
            Welcome,<br>
            <span>@sessionUser.UserName</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="@path" asp-controller="@sessionUser.UserType">Dashboard</a>
        </li>
        @if (sessionUser.UserType != UserTypeEnum.Admin.ToString())
        {
@if (sessionUser.UserType == UserTypeEnum.Customer.ToString())
{
<partial name="_UserLayoutCustomerSideBar" /> }
                    else if (sessionUser.UserType == UserTypeEnum.ServiceProvider.ToString())
                    {
<partial name="_UserLayoutServiceProviderSideBar" />}}
        <li class="nav-item">
            <a class="nav-link" asp-action="MyAccount" asp-controller="@sessionUser.UserType">My Setting</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Logout" asp-controller="Account">Logout</a>
        </li>
    </ul>}
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navLinks">
                    @if (user == null || sessionUser.UserType == UserTypeEnum.Customer.ToString())
                    {
        <li class="nav-item">
            <a class="nav-link rounded-link @( ViewBag.navbar == "transparentNavbar" ? "" : "btn-dark-slate-blue")" asp-action="BookService" asp-controller="Home">
                @if (ViewBag.navbar == "transparentNavbar")
                {
<span>Book a Cleaner</span> }
                else
                {
<span>Book now</span>}
            </a>
        </li>}
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="prices">
                            @if (ViewBag.navbar == "transparentNavbar")
                            {
                <span>Prices</span> }
                            else
                            {
                <span>Prices & services</span>}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            @if (ViewBag.navbar == "transparentNavbar")
                            {
                <span>Our Guarantee</span> }
                            else
                            {
                <span>Warranty</span>}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="contact">Contact</a>
                    </li>
                    @if (user == null)
                    {
        <li class="nav-item">
            <a class="nav-link rounded-link @( ViewBag.navbar == "transparentNavbar" ? "" : "btn-dark-slate-blue")" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
        </li>
                        <li class="nav-item">
                            <a class="nav-link rounded-link @( ViewBag.navbar == "transparentNavbar" ? "" : "btn-dark-slate-blue")" asp-controller="Account" asp-action="BecomeAPro">Become a Helper</a>
                        </li>}
                    <li class="d-none @( ViewBag.navbar == "transparentNavbar" ? (ViewBag.hideFlag == true ? "" : "nav-item dropdown d-xl-block" ) : "")">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/img/home/country-flag/gb.svg" alt="united kingdom flag"
                                 class="county-flag">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="#">
                                    <img src="~/img/home/country-flag/in.svg" alt="united kingdom flag"
                                         class="county-flag">
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <img src="~/img/home/country-flag/us.svg" alt="united kingdom flag"
                                         class="county-flag">
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="social-links d-xl-none mt-3 pb-4">
                    <a href="#" class="ms-3">
                        <img src="~/img/facebook-f-brands.svg" alt="" class="fb-icon">
                    </a>
                    <a href="#" class="ms-2">
                        <img src="~/img/instagram-brands.svg" alt="" class="insta-icon">
                    </a>
                </div>
            </div>
            <div class="backblack"></div>
            @if (user != null)
            {
<div class="notification-profile-menu">
    <ul class="d-flex">
        <li class="nav-item dropdown notification-dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                <img src="~/img/admin-panel/icon-notification.png" alt="">
                <span>2</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Notification1</a></li>
                <li><a class="dropdown-item" href="#">Notification1</a></li>
                <li><a class="dropdown-item" href="#">Show more</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown user-detail-dropdown d-none d-xl-block">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                <img src="~/img/admin-panel/admin-user.png" alt="">
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="user-name ps-3">
                    Welcome,<br>
                    <span>@sessionUser.UserName</span>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" asp-action="@path" asp-controller="@sessionUser.UserType">My Dashboard</a></li>
                <li><a class="dropdown-item" asp-action="MyAccount" asp-controller="@sessionUser.UserType">My Settings</a></li>
                <li><a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a></li>
            </ul>
        </li>
    </ul>
</div>            }
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </nav>

    @RenderBody()

    <!-- footer -->
    <footer>
        <div class="footer-max-width">
            <div class="logo">
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo/white-logo-transparent-background.png" alt="">
                </a>
            </div>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">TESTIMONIALS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="faq">FAQS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">INSURANCE POLICY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">IMPRESSUM</a>
                </li>
            </ul>
            <div class="socil-icon d-flex flex-wrap justify-content-center">
                <a href="#" class="mb-2"><img src="~/img/home/facebook.svg" alt="facebook"></a>
                <a href=""><img src="~/img/home/instagram.svg" alt="instagram"></a>
            </div>
        </div>
        <div class="terms-condition d-flex justify-content-center me-auto ms-auto">
            <p class="mb-0">
                ©2018 Helperland. All rights reserved. &nbsp;&nbsp; Terms and Conditions | Privacy Policy
            </p>
        </div>
        <div class="privacy-policy d-flex align-items-center d-none" id="privacy-policy">
            <p class="mb-0 ms-auto">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi ipsa laborum excepturi maiores.
            </p>
            <span class="me-auto">Privacy Policy</span>
            <button id="btn-privacy-policy" class="me-2">OK</button>
        </div>
    </footer>

    <div class="modal" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content modal-max-width-360px">
                <div class="modal-body">
                    <button type="button" class="btn-close model-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <h3>Login to your account</h3>
                    <div class="col-md-12 m-0" id="divLoginErrorMessage">
                    </div>
                    <div class="mb-3 position-relative">
                        <input type="text" id="loginEmail" name="loginEmail" class="form-control" placeholder="Email" />
                        <img src="~/img/user.png" class="model-icon" />
                        <span class="text-danger" id="loginEmailErrorMessage"></span>
                    </div>
                    <div class="mb-3 position-relative">
                        <input type="password" id="loginPassword" name="loginPassword" class="form-control" placeholder="Password" />
                        <img src="~/img/lock.png" class="model-icon" />
                        <span class="text-danger" id="loginPasswordErrorMessage"></span>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="LoginRememberMe" name="LoginRememberMe">
                        <label class="form-check-label" for="LoginRememberMe">Remember me</label>
                    </div>
                    <button type="button" class="model-button mb-25" onclick="Login()">Login</button>
                    <div class="text-center"><a class="model-link mb-2" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">Forgot password?</a></div>
                    <div class="text-center">
                        Don't have an account? <a class="model-link" asp-controller="Account" asp-action="UserRegistration">Create an account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Forgot Password Modal -->
    <div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content modal-max-width-360px">
                <div class="modal-body">
                    <button type="button" class="btn-close model-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <h3>Forgot password</h3>
                    <div id="divForgotPasswordErrorMessage"></div>
                    <div class="mb-3 position-relative">
                        <input type="text" id="ForgotPasswordEmail" name="ForgotPasswordEmail" class="form-control" placeholder="Email Address" />
                        <span class="text-danger" id="ForgotPasswordEmailErrorMessage"></span>
                    </div>
                    <button type="button" class="model-button mb-25" onclick="ForgotPassword()">Send</button>

                    <div class="text-center"><a class="model-link mb-2" data-bs-toggle="modal" data-bs-target="#loginModal">Login now</a></div>
                </div>
            </div>
        </div>
    </div>
    <partial name="_ValidationScriptsPartial" />

    <script src="~/js/main.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/lib/limonte-sweetalert2/sweetalert2.js"></script>
    <script src="~/lib/bootstrap-star-rating/js/star-rating.js"></script>
    <script src="~/lib/bootstrap-star-rating/themes/krajee-svg/theme.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>